.header {

    display: flex;
    justify-content: center;

    .header-wrap{
        display: flex ;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px 20px 15px 20px;
        max-width: 1240px;
        width: 100%;

    }
    
    .header-nav{
        transition: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        align-items: center;
        gap:20px;
        color: #FF6060;
        text-transform: uppercase;
        font-size: 12px;

        a{
            transition: 0.1s;
            color: #FF6060;
            text-decoration: none;
        }

        & a:visited{
            color: #FF6060;
        }

        .active{
            text-decoration: underline;
        }


    }

    .logo{
        width: 145px;
        height: 46px;
        transition: 0.1s;
    }
}

@media (min-width: 1023px){
    .header {

        .header-nav{
            font-size: 24px;
            text-transform: none;
            transition: 0;
        }
    }
}

@media (min-width:1023px){
    .header{
        .logo{
            width: 210px;
            height: 68px;
        }
    }
}