.logement{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;

    .logement-wrap{    
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1240px;
        box-sizing: border-box;

        & > img{
            object-fit: cover;
            width: 100%;
            max-height: 415px;
            margin-bottom: 15px;
        }

        h2{    
            transition: 0.2s;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            color: #FF6060;
            margin-bottom: 5px;
        }

        h3{    
            transition: 0.2s;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
            color: #FF6060;
            margin-bottom: 10px;
        }
    }

.tagsection{
    
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
}

.stars{
    display: flex;
    gap: 5px;
}
.star{
    height: 13px;
}

@media (min-width: 1023px){
    .logement{

        .logement-wrap{
            
            h2{
                font-size: 28px;
            }

            h3{
                font-size: 18px;
            }
        }
        
        .collapse-wrap{
            display: flex;
            gap:70px;
        }
    }

    .stars{
        gap: 15px;
    }
    .star{
        height: 24px;
    }
}