.logement{
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;

    .logement-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 1240px;
        box-sizing: border-box;

        img{
            object-fit: cover;
            width: 100%;
            max-height: 415px;
            margin-bottom: 15px;
        }

        h2{
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            color: #FF6060;
            margin-bottom: 5px;
        }

        h3{
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
            color: #FF6060;
            margin-bottom: 10px;
        }
    }

.tagsection{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
}

