.logement{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;

    .logement-wrap{    
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1240px;
        box-sizing: border-box;

        h2{    
            transition: 0.2s;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            color: #FF6060;
            margin-bottom: 5px;
        }

        h3{    
            transition: 0.2s;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
            color: #FF6060;
            margin-bottom: 10px;
        }
    }


.tagsection{
    
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
}

.author{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;


    &-info{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        gap:15px;

        .author-img{
            border-radius: 90px;
            height: 32px;
            width: 32px;
            object-fit: cover;
        }
    
        .author-name{
            font-family: "Montserrat";
            font-size:13px;
            font-weight: 500;
            text-align: right;
            color:#FF6060;
        }
        
        &-rating{
            display: flex;
            align-items: center;
        }
    
    }



}
.stars{
    display: flex;
    gap: 5px;
}
.star{
    height: 13px;
}

@media (min-width: 1023px){
    .logement{

        .logement-wrap{
            
            h2{
                font-size: 28px;
            }

            h3{
                font-size: 18px;
            }
        }
        
        .logement-description{   
            display: flex;
            justify-content: space-between;

            .info-wrap{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        .collapse-wrap{
            display: flex;
            gap:70px;
            padding-top: 10px;
        }
    }

    .author{
        flex-direction: column;
        gap: 15px;

        &-info{

            .author-img{
                transition: 0.2s;
                width: 64px;
                height: 64px;
            }

            .author-name{
                font-size: 18px;
                transition: 0.2s;}
        }
    
    }

    .stars{
        gap: 15px;
    }
    .star{
        height: 24px;
    }
}