/*.card-grid{
    margin-top: 20px;
    width: 100%;
    max-width: 1240px;
    display: grid;
    justify-content: center;
    grid-template-columns: minmax( 0,335px);
    gap: 20px;

    .card{

            position: relative;
            display: flex;
            align-items: flex-end;
            border-radius: 10px;
            overflow: hidden;
            max-height: 335px;
            width: 100%;
            
            img{
                object-fit: cover;
                width: 100%;
            }
    
            h2{
                position: absolute;
                bottom: 0;
                font-weight: 500;
                font-size: 18px;
                padding: 15px;
                color: white;
                width: 100%;
                background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8));
            }
        }
        

    
}

@media (min-width: 768px){
    .card-grid{
        grid-template-columns: repeat(2, minmax(0,450px));
        border-radius: 20px;
        padding-left: 25px;
        padding-right: 25px;
        box-sizing: border-box;
    }
}

@media (min-width: 1024px){
    .card-grid{
        grid-template-columns: repeat(3, minmax(0,340px));
        gap: 50px;
        margin-top: 40px;
        padding: 50px 25px 25px 50px;
        padding-top: 50px;
        padding-left: 25px;
        padding-right: 25px;
    }
}*/


.card-grid{
    margin-top: 20px;
    width: 100%;
    max-width: 1240px;
    display: grid;
    gap: 20px;

    .card{
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        
            img{
                object-fit: cover;
                height: 255px;
                width: 100%;

            }
    
            h2{
                box-sizing: border-box;
                position: absolute;
                bottom: 0;
                font-weight: 500;
                font-size: 18px;
                padding: 15px;
                color: white;
                width: 100%;
                background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8));
            
        }
        

    }
}

@media (min-width: 1024px){
    .card-grid{
        grid-template-columns: repeat(3, auto);
        border-radius: 20px;
        padding-left: 50px;
        padding-top: 50px;
        padding-right: 50px;
        box-sizing: border-box;
        background-color: #F6F6F6;
        gap: 60px;

        .card{
            img{
                object-fit: cover;
                height: 340px;
                width: 100%;
            }
        }
    }
}