.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 15px;
    transition: 0.2s;
}
.carousel-ImgFrame{
    max-height: 255px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
    transition: 0.2s;


    .carrousel-img{

        height: 100%;
        width: 100%;
    }
}


.arrows{
    display: flex;
    position: absolute;
    width: 100%;


    .right-arrow{
        left: 10px;
    }

    .left-arrow{
        right: 10px;
    }

    .right-arrow,.left-arrow{
        height: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.2s;
    }
}

.counter{
    text-shadow: 
    0 0 5px black,
    0 0 5px black;
    color: white;
    font-size: 18px;
    font-family: "Montserrat";
    position: absolute;
    left: 50%;
    bottom: 5%;
}

@media (min-width:1023px){
    .carousel{
        margin-bottom: 30px;
        transition: 0.2s;
    }
    .carousel-ImgFrame{
        transition: 0.2s;
        max-height: 415px;
    }
.arrows{
    .right-arrow,.left-arrow{
        transition: 0.2s;
        height: 80px;
    }
}


}